<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <body>
      <% @apartments.each do |apartments| %>
        <p><%= @apartments %></p>
      <% end %>
    </body>
    <title></title>
  </head>
  <body>

  </body>
</html>
