<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <h1>Tunr App</h1>


    <h1>Home</h1>
      <p>Tun.r is the world's #1 music app!</p>

 <!-- Song Nav.  -->
    <nav>
      <h2>Songs</h2>
    </nav
      <h2>Artists</h2>
    </nav>

<!-- Playlist Nav. -->
    <h2>Playlists</h2>
      <%= yield %>
  </body>

</html>
