<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>landlord</title>
  </head>
  <body>
    <div class = "containareon">
     <header>

     </header>

     <main>
       <div class= "menu">
         <ul>
         <li><a href ="/"> HOME </a></li>
         <li><a href ="/apartments"> apartments</a></li>
         <li><a href ="/tenants"> tenants </a></li>
       </ul>
       </div>

       <div class = "content">
       <%=yield %>
       </div>

     </main>

     <footer>

     </footer>

   </div>
  </body>
</html>
