<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <h1>Hello</h1>
   <h1>This is the Apartment Index erb file</h1>
<!-- <a href="/apartments">Apartment List</a> -->
    <%= @pizza %>
 </body>
</html>
