<form action="/apartments" method="post">
  <input type="text" name="address" value="">
  <input type="text" name="monthly_rent" value="">
  <input type="text" name="sqft" value="">
  <input type="text" name="num_beds" value="">
  <input type="text" name="num_baths" value="">
  <input type="submit" name="name" value="">
</form>
