<form action="/apartments" method="post">
  address: <input type="text" name="address" value="">
  monthly_rent: <input type="text" name="monthly_rent" value="">
  sqft: <input type="text" name="sqft" value="">
  num_beds: <input type="text" name="num_beds" value="">
  num_baths: <input type="text" name="num_baths" value="">
  <input type="submit" name="name" value="Add Apartment">
</form>
