<h2>New Apartment</h2>

<form action="/apartments" method="post">
    <label>Address:</label>
    <input name="apartment[address]">

    <label>Rent:</label>
    <input name="apartment[monthly_rent]">

    <label>Square Footage:</label>
    <input name="apartment[sqft]">

    <label>Bedrooms:</label>
    <input name="apartment[num_beds]">

    <label>Bathrooms:</label>
    <input name="apartment[num_baths]">

    <input class="button" type="submit" value="Create">
  </form>

<h3><a href="/">HOME</a></h3>
