<h2>New Apartment</h2>

<form action="/apartment" method="post" >
  <label for="apartment[address]">Address:</label>
  <input name="apartments[address]"> <br>

  <label for="apartments[montly_rent]">Monthly Rent:</label>
  <input name="apartments[montly_rent]"> <br>

  <label for="apartments[sqft]">Square Feet:</label>
  <input name="apartments[sqft]"> <br>

  <label for="apartments[num_beds]">Number of Beds:</label>
  <input name="apartments[num_beds]"> <br>

  <label for="apartments[num_baths]">Number of Bathrooms:</label>
  <input name="apartments[num_baths]"> <br>

  <input type="submit" value="Create">
</form> <br>
<a href='/apartments'>View your Apartment</a>
