<form method="post" action=".">
  <input type="text" name="address" placeholder="1600 Pennsylvania Ave NW" />
  <input type="text" name="rent" placeholder="Rent" />
  <input type="text" name="sqft" placeholder="1000" />
  <input type="text" name="beds" placeholder="number of beds" />
  <input type="text" name="baths" placeholder="number of baths" />
  <input type="submit" value="Submit" />
</form>
