<h2>Apartments</h2>

<% @apartments.each do |apartment| %>
<p>
  <%= apartment.address %> $<%= apartment.monthly_rent %>
</p>
<% end %>

<a href="/apartments/1">See apartment 1 details</a>
<a href="/apartments/new">create new apartment</a>
