<h3><%=@apartments.address %> Tenants</h3>

<%@apartments.tenants.each do |tenant| %>
<p><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></p>
<% end %>
<h3><a href="/apartments/<%= @apartments.id %>/tenants/new">NEW TENANT</a></h3>
<h3><a href="/">HOME</a></h3>
