<ul>
  <li>70335 Clemenargaertine Tunnel</li>
  <li>44010 Lemke Crossroad</li>
  <li>77841 Jany Lane</li>
  <li>4518 Ivy Spur</li>
  <li>95287 Kamille Underpass</li>
  <li>6005 Damien Corners</li>
  <li>95599 Koch Stream</li>
  <li>40583 Hal Crossing</li>
  <li>62897 Verna Walk</li>
  <li>351 Dibbert Fields</li>
  <li>3710 Buford Passage</li>
  <li>64329 Tyree Creek</li>
  <li>17297 Runte Bypass</li>
  <li>0889 Marvin Radial</li>
  <li>2745 Freddy Vista</li>
  <li>359 Gutmann Pike</li>
  <li>08465 Howell Harbor</li>
  <li>8865 Borer Viaduct</li>
  <li>7357 Emard Row</li>
</ul>
