<h1>Here are some details!</h1>

<ul>
  <li>
    Address:
  </li>
  <li>
    Monthly_rent
  </li>
  <li>
    Square Feet:
  </li>
  <li>
    Number of Bedrooms:
  </li>
  <li>
    Number of Baths:
  </li>
  <li>
    Current Renters:
  </li>
</ul>
