<h1>Form</h1>
<form method="post" action="/apartments/<%= @apartment.id %>">
  <fieldset>
    <input type="hidden" name="_method" value="put">
    <input type="text" name="address" placeholder="Address" />
    <input type="number" name="monthly_rent" placeholder="Rent" />
    <input type="number" name="sqft" placeholder="Sqft" />
    <input type="number" name="num_beds" placeholder="Number of Beds" />
    <input type="number" name="num_baths" placeholder="Number of Baths" />
    <input type="submit" value="Submit">
  </fieldset>
</form>
