
<% @apt_detail[0] %>
<%= "#{@apt_detail[0][:address]}, $#{@apt_detail[0][:monthly_rent]}, #{@apt_detail[0][:sqft]}sqft, #{@apt_detail[0][:num_beds]} beds,#{@apt_detail[0][:num_bath]} baths"%>
<p><a href="/apartments/<%=@apt_detail[0][:id]%>/tenants">view tenants</a></p>