<!-- # - The route `GET /apartments/[ID HERE]` should show info about a single apartment
#   * Tell the user the address, monthly_rent, sqft, num_beds, num_baths, and renters -->

<p>Here is the information about your selected apartment.</p>