<!-- # - The route `GET /apartments/new` should show a form for adding a new apartment -->
<p>Input the following information about your new apartment.</p>

 <form method="post" action="/apartments">
      <p><input type="text" name="address" placeholder="Address"></p>
      <p><input type="text" name="monthly_rent" placeholder="Monthly rent"></p>
      <p><input type="text" name="sqft" placeholder="Square feet"></p>
      <p><input type="text" name="num_beds" placeholder="Number of beds"></p>
      <p><input type="text" name="num_baths" placeholder="Number of baths"></p>
      <input type="submit">
</form>
