<h1>Apartment Directory</h1>

<ul>
  <li><a href="/apartments">view apartment listings</a></li>
  <li><a href="/tenants">view tenants</a></li>
  <li><a href="/apartments/new">add new apartment listing</a></li>
</ul>
