<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
  <h1>Edit</h1>
  <h3><a href="javascript:history.back()">Go Back</a></h3>
  <h3><a href="/apartments">Index</a></h3>
</body>
</html>
