<ul>
  <!-- # List all apartments (hardcode into the erb file) -->
  <li><a href='/apartments'>List apartments</a></li>
  <!-- # Create a new apartment -->
  <li><a href='/apartments/new'>Create new apartment</a></li>
  <!-- # List all tenants in apartment 1 -->
  <!-- <li><a href='/apartments/1/tenants'>View tenants in apartment</a></li> -->
  <!-- # Create a new tenant (in apartment 1?) -->
  <!-- <li><a href='/apartments/1/tenants/new'>Create new tenants in apartment</a></li> -->
</ul>
