<h1>~Landlord~</h1>
<h3>Menu</h3>
<ol>
  <li>
    <a href="/apartments">View apartments.</a>
    From here you can see apartment details, add a new apartment, edit an apartment, or delete an apartment.
  </li>
  <!-- <li>
    <a href="/tenants">View tenants.</a>
  </li> -->
</ol>
