<div class="large">
  <div class="med">
    <h2>Apartments Main Application Page</h2>
    <p>When Zhongni was on his way to Chu, as he issued from a forest, he saw a hunchback receiving cicadas (on the point of a rod), as if he were picking them up with his hand. 'You are clever!' said he to the man. 'Is there any method in it?' The hunchback replied, 'There is. For five or six months, I practised with two pellets, till they never fell down, and then I only failed with a small fraction of the cicadas (which I tried to catch). Having succeeded in the same way with three (pellets), I missed only one cicada in ten. Having succeeded with five, I caught the cicadas as if I were gathering them. My body is to me no more than the stump of a broken trunk, and my shoulder no more than the branch of a rotten tree. Great as heaven and earth are, and multitudinous as things are, I take no notice of them, but only of the wings of my cicadas; neither turning nor inclining to one side. I would not for them all exchange the wings of my cicadas - how should I not succeed in taking them?' Confucius looked round, and said to his disciples, '"Where the will is not diverted from its object, the spirit is concentrated" - this might have been spoken of this hunchback gentleman.'</p>
  </div>
</div>
