<ul>
  <li><a href="/apartments">View all apartments</a></li>
  <li><a href="apartments/new">Add an apartment</a></li>
  <li><a href="/tenants">List all tenants</a></li>
  <li><a href="/tenants/new">Add tenants</a></li>
</ul>
