<!DOCTYPE html>
<html>
<head>
  <title>Home Sweet Home</title>
</head>
<body>
  <h1>Welcome to Home Sweet Home Properties</h1>
  <h2>If you lived here, you'd be home by now!</h2>
  <div class="image">
    <img src="css/apts.jpg" alt="Apartments"/>
  </div>
</body>

</html>
