<div class="row">
  <div class="col-md-4">
    <a id="viewapt" class="btn btn-primary" href="/apartments">APARTMENTS</a>
  </div>

  <div class="col-md-4">
    <a id="viewten" class="btn btn-success btn-lg" href="/tenants">TENANTS</a>
  </div>
</div>
