<h1>WELCOME TO BOB'S APARTMENT MANAGING SYSTEM</h1>

<ul>
  <li><a href="/apartments">View a list of all apartments</a></li>
  <li><a href="/apartments">Get individual details about apartments</a></li>
  <li><a href="/new">Create a new apartment</a></li>
  <li><a href="/tenants">List tenants</a></li>
</ul>
