<h1>Welcome!</h1>
<nav>
<a href="/apartments">List all apartments</a>
<a href="/apartments/1">View an apartment's details</a>
<a href="/apartments/new">Add an apartment</a>
<a href="/apartments/1/tenants">List tenants</a>
</nav>
