<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bob Pizza's Cruel Gentrification and Captial Acceleration Apparatus </title>
</head>
<body>
<h1>Bob Pizza's Cruel Gentrification and Captial Acceleration Apparatus</h1>
<center>
<a href="/apartments/index">Apartments</a>
 | | 
<a href="/tenants/index">Tenants</a>
</center>
</body>
</html>
