<DOCTYPE! html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="">View Properties</a></li>
      <li><a href="">Property Details</a></li>
      <li><a href="">Add Property</a></li>
      <li><a href="">View Tenants</a></li>
    </ul>
  </nav>
</body>
</html>
