<h1>Landlord</h1>
<h2>Search By Address</h2>
<form method="get" action="/apartments/search">
  <fieldset>
    <input type="text" name="address" placeholder="Address">
    <input type="submit" value="Search">
  </fieldset>
</form>
<h2>Search for Tenant</h2>
<form method="get" action="/tenants/search">
  <fieldset>
    <input type="text" name="name" placeholder="Name">
    <input type="submit" value="Search">
  </fieldset>
</form>
