<nav>
  <a href="/apartments">List all apartments</a>
  <a href="/apartments/:id">Show apartment detail</a>
  <a href="/apartments/new">Make new apartment</a>
  <a href="/apartments/:id/tenants">Show tenants</a>
  </ul>
</nav>
