<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to my apartments!</h1>
  <a href="apartents"><a/>
    <h2>
      <%= @apartment.first.address %>
    </h2>
</body>
</html>
