<a href="/apartments">List all apartments</a><br>
<a href="/apartments/1">View apartment's details</a><br>
<a href="/apartments/new">Add an apartment</a><br>
<a href="/apartments/1/tenants">View tenants</a><br>
