<p><a href="/apartments">List all apartments</a></p>
<!-- <p><a href="/apartments/1">View apartments' details</a></p> -->
<p><a href="new">Add an apartment</a></p>
<p><a href="/apartments/tenant">View tenants</a></p>
