<h1 class='headline'> Easy Apartments: We Code - You Manage</h1>
<div class="container">
    <div class= 'menu_button'>
        <a href='/apartments'>
            <h2 class='hide'>Your Places<h2>
            <div class= 'flex-mask'>
                <h2 class='show'>Apartments</h3>
            </div>
        </a>
    </div>
    <div class= 'menu_button'>
        <a href='/apartments/new'>
            <h2 class='hide'>Your Way<h2>
            <div class= 'flex-mask'>
                <h2 class='show'>New Apartment</h3>
            </div>
        </a>
    </div>
</div>
