<h2>Landlord</h2>
<form method = "get" action = "."><a href ="/apartments">List all apartments</a></form>

<form method = "get" action = "."><a href ="/apartment/new">Add Apartment</a></form>

<form method = "get" action = "."><a href ="/apartments/1/tenants">List tenants</a></form>

<form method = "get" action = "."><a href ="/apartments/1/tenants/new">Add tenant</a></form>
