<!-- # The homepage should list several menu options:
  # List all apartments (a link to GET /apartments)
  # View an apartment's details(a link to GET /apartments/1)
  # Add an apartment(a link to GET /apartments/new)
  # List tenants (a link to GET /apartments/1/tenants) -->
<ul>
  <li><a href="/apartments">List all apartments</a></li>
  <li><a href="/apartments/1">View an apartment's details</a></li>
  <li><a href="/apartments/new">Add an apartment</a></li>
  <li><a href="/apartments/1/tenants">List tenants</a></li>
</ul>
