<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Index</h1>
  <% @apartments.each do |apartment| %>
    <li>
      <a href="apartments/<%= apartment.id %>"><%= apartment.address %></a>
    </li>
  <% end %>
  <h2>New</h2>
  <a href="apartments/new">Create apartment</a>
</body>
</html>
