<ul>
  <li><a href="/apartments">Click to view all apartments</a></li>
  <li><a href="/apartments/1">View details for apartment 1</a></li>
  <li><a href="apartments/new">Add an apartment</a></li>
  <li><a href="/apartments/1/tenants">List tenants</a></li>
  <li><a href="/apartments/1/tenants/new">Add tenants</a></li>
</ul>
