<h1 class='headline'> Easy Apartments: We Code - You Manage</h1>
<h2 class='headline'>Menu</h2>
<div class="container">
    <div class= 'menu_button'>
        <a href='/apartments'>
            <div class= 'flex-mask'>
                <h3 class='show'>Apartments</h3>
            </div>
        </a>
    </div>
    <div class= 'menu_button'>
        <a href='/apartments/new'>
            <div class= 'flex-mask'>
                <h3 class='show'>New Apartment</h3>
            </div>
        </a>
    </div>
</div>
