<!-- The homepage should list several menu options:
#   * List all apartments (a link to `GET /apartments`)
#   * View an apartment's details(a link to `GET /apartments/1`)
#   * Add an apartment(a link to `GET /apartments/new`)
#   * List tenants (a link to `GET /apartments/1/tenants`)  -->

<h2>Options</h2>
<p><a href='/apartments'>List all apartments</a></p>
<p><a href='/apartments/1'>View apartment details</a></p>
<p><a href='/apartments/new'>Add apartment</a></p>
<p><a href='/apartments/1/tenants'>List tenants</a></p>