<h1>Welcome!</h1>
<p>Click on the action you would like to access</p>
<form action="/apartments">
  <button>See a list of all apartments</button>
</form>
<form action="">
  <button>See a list of all tenants</button>
</form>
<form action="">
  <button>See a list of all apartments and their associated tenants</button>
</form>
