<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landlord</title>
  </head>
  <body>
      <h3><a href="/apartments">All apartments</a></h3>
      <h3><a href="/apartments/1">Sample apartment</a></h3>
      <h3><a href="/apartments/new">Create new apartment</a></h3>
      <h3><a href="/apartments/1/tenants">List tenants apt 1</a></h3>

    <%= yield %>
  </body>
</html>
