<h1>Welcome to Landlord</h1>
<h2>What would you like to do?</h2>
<h3><a href="/apartments">See All Properties</a></h3>
<h3><a href="/tenants">See All Tenants</a></h3>
<h3><a href="/apartments/add">Add an Apartment</a></h3>
