<h1>What would you like to see as a landlord?</h1>
<h3><a href = '/apartments'>See the apartments</a></h3>
<h3><a href = '/tenants'>See the tenants</a></h3>
<h3><a href = '/apartments/new'>Add a new apartment</a></h3>
