<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1 class="title"><a href="/">Lux Lands</a></h1>
      <br>
    </header>
    <%= yield %>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
