<!DOCTYPE html>
<html>
  <head>
    <title>Landord App</title>
  </head>
  <body>
    <a href="/apartments">View Apartments</a>
    <a href="/apartments/1">Apartment 1 Details</a>
    <a href="/apartments/new">Add Apartment</a>
    <a href="/apartments/1/tenants">See Apt 1 Tenant List</a>
  <br>
    <%= yield %>
  </body>
</html>
