<!DOCTYPE html>
<html>
  <head>
    <title>Landlord</title>
  </header>
  <body>
    <header>
      <h1>Landlord</h1>
      <a href="/apartments">All Apartments</a> |
      <a href="/apartments/1">Get Apartment Details</a> |
      <a href="/apartments/new">Add Apartment</a> |
      <a href="/apartments/3/tenants">All Tenants</a> |
      <a href="/apartments/3/tenants/new">Add Tenant</a>
    </header>
    <%= yield %>
  </body>
</html>
