<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
  </head>
  <body>
    <nav>
      <a href='/'>Home</a>
    </nav>
    <%= yield %>
  </body>
</html>
