<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>landlord</title>
    <link rel="stylesheet" href="/css/lordstyle.css">
  </head>
  <body>
    <div class="wrapper">
      <h1><a href="/apartments">Landlord</a></h1>
          <%= yield %>
          <img src="/images/exp-apartment.jpg" alt="apartment image">
    </div>

  </body>
</html>
