<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/pokestyle.css">
  <title>LANDLORD</title>
</head>
<body>
  <h1>Angelo</h1>
  <%= yield %>
</body>
</html>
