<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/master.css" media="screen" title="no title" charset="utf-8">
    <title>Landlord Application</title>
  </head>
  <body>
    <header>
      <h1>Property Management App</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/apartments">Apartments</a>
        <a href="/tenants">Tenants</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
