<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Landlord</title>
  </head>
  <body>
    <nav>
      <a href="/apartments">List All Apartments</a>
      <a href="/apartments/new">Add An Apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
