<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Landlord</title>
</head>
<body>
  <header>
    <nav>
      <h1 id="logo">
        <a href="/">Landlord</a></h1>
        <a class="menu" href="/apartments">Apartments</a>
        <a class="menu" href="/tenants">Tenants</a></p>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
