<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="coallapse navbar-collapse">
    <ul class ="nav nav-pills inline">
      <li><a href="/apartments"> Apartments</a></li>
      <li><a href="/tenants"> Tenants</a></li>
    </ul>
  </div>
  </nav>


      <%= yield %>

</body>
</html>
