<!DOCTYPE html>
<html>
<head>
  <title>DC RnR Apt Guide</title>
  <link rel='stylesheet' type='text/css' href='/styles.css'>
</head>
<body>
  <header>
    <h1>DC Rock and Roll Apartments</h1>
  </header>
  <main>
    <h2>Don't Live with a Drummer (Unless It's Charlie)</h2>
      <form method="link" action="/apartments">
        <input type="submit" value="Click to See Apartments - unfinished">
      </form>


      <!-- to do -->
      <form method="link" action="/tenants">
        <input type="submit" value="Click to See Tenants">
      </form>
      <form method="link" action="/new">
        <input type="submit" value="Click to Add a New Tenant - unfinished">
      </form>


    <%= yield %>


  </main>
</body>
</html>
