<!DOCTYPE html>
<html>
<head>
	<title>The Landlord</title>
</head>
<body>
	<a href='/apartments'>List all apartments</a>
	<a href='/apartments/[:id]'>View an apartments details</a>
	<a href='/apartments/new'>Add an apartment</a>
	<a href='/apartments/[:id]/tenants'>List tenants</a>
	<%= yield %>
</body>
</html>