<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlords</title>
</head>
<body>

<ul>
  <li>
    <a href="/apartments">View All Apartments</a>
  </li>
  <li>
    <a href="/apartments/1">View Details for One Apartment</a>
  </li>
  <li>
    <a href="/apartments/new">Create a new apartment</a>
  </li>
  <li>
    <a href="/apartments/1/tenants">View Tenants for Single Apartment</a>
  </li>
</ul>

  <%= yield %>
</body>
</html>
