<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>General Assembly Properties</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header>
      <a href="/"><h1>General Assembly Properties</h1></a>
    </header>

    <!-- Do I want a nav bar here?
    <nav>
      Go to: &nbsp;
      <a href="/apartments">Apartments</a> |
      <a href="/tenants">Tenants</a>
    </nav> -->

    <%= yield %>

  </body>
</html>
