<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlord App</title>
  <style>
  nav li { display: inline; list-style: none; }
  </style>
</head>
<body>
  <header>
    <h1>Rent Is Too Damn Not Paid</h1>
    <nav>
      <ul>
        <li><a href="/apartments">Apartments</a></li>
        <li><a href="/tenants">Tenants</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
