<!DOCTYPE>
<html>
<head>
  <title>Landlord</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/apartments">Apartments</a>
    <a href="/apartments/new">New apartment</a>
    <a href="/tenants">Tenants</a>
    <a href="/tenants/new">New Tenant</a>
    <a href="/">Search</a>
  </nav>
  <%= yield %>
</body>
</html>
