<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>landlord!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Landlord: the App: The Movie: the Game: the Straight-to-DVD Miniseries</h1>
      <nav class="header">
        <ul>
          <li><a href="/apartments">Current Apartments</a></li>
          <li><a href="/apartments/new">Create Apartment</a></li>
    </header>
    <div class="banner"></div>
    <div class="display"><%= yield %></div>
  </body>
</html>
