<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
<title>LndLrd</title>
</head>

<body>
<header><a href='/'>LndLrd</a></header>

<nav><a href="/tenants">VIEW TENANTS |</a>
<a href="/apartments">VIEW APARTMENTS |</a>

<a href="/apartments/new">CREATE NEW APARTMENT PROFILE |</a>
<a href="/tenants/new">CREATE NEW TENANT PROFILE |</a>
</nav>
<%= yield %>


</body>
</html>
