<!DOCTYPE html>
<html>
  <head>
    <title>Landlord</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <nav>
      <h1>Main Street Aparment Complex</h1>
      <a href="/apartments/new"> New Apartment </a>
      <a href="/tenants"> Tenants </a>
      <a href="/apartments"> Apartments </a>
      <a href="/">Home</a>
    </nav>
    <div class="info">
      <%= yield %>
    </div>
  </body>
</html>
