<html>
  <head>
    <title>Property Managment</title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>

  <body>
    <h1><a class="home_link" href='/'>Home</a></h1>
    <h1 class="center">Black T<span style="color:#333">i</span>e Property</h1>
    <%= yield %>
  </body>
</html>

