<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LANDLORD!</title>
</head>
<body>
  <header>
    <h1>LANDLORD APP</h1>
    <nav>
      <ul>
        <li><a href="">View Apartments</a></li>
        <li><a href="">Add Apartment</a></li>
        <li><a href="">View Tenants</a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
