<!DOCTYPE html>
<html>
  <head>
    <title>Landlord App</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
  	<h1>Starling City's Apartment List</h1>
  		<nav class="bar">
  			<a href='/'>Home</a>
  			<a href="/apartments">Apartments</a>
  			<a href="/tenants">Tenants</a>
  		</nav>
    <%= yield %>
  </body>
</html>