<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
    <title>Landlord</title>
</head>
<body>
    <%=yield%>
</body>
</html>
