<!DOCTYPE html>
<html>
<head>
	<title>Landlorde</title>
</head>
<body>

	<h1>Welcome me,Lord</h1>
	<p>to the ultimate Landlord management suite</p>
	<nav><a href="/apartments">Apartment Listing</a> &nbsp; <a href="/apartments/new">Add Apartment</a></nav>

	<%= yield %>

</body>
</html>