<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlord</title>
</head>
<body>
  <nav>
    <a href="javascript:history.back()">Go Back</a> | 
    <a href="/apartments">Apartments</a>
  </nav>
  <%= yield %>
</body>
</html>
