<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landlord</title>
  </head>
  <body>
    <a href='/'>Landlord Home</a>
    <a href='/apartments'>Apartments</a>
    <a href='/tenants'>Tenants</a>
    <%= yield %>
  </body>
</html>
