<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlord</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header></header>
  <div class="content">
    <h1>Landlord Database</h1>
    <%= yield %>
  </div>
  <footer></footer>
</body>
</html>
