<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href="/apartments">apartments</a>
      <a href="/tenants">tenants</a>
    </nav>
    <%= yield %>
  </body>
</html>
