<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h2><a href='/'>Home</a></h2>
    <h1>Welcome to Your Landlord Application!</h1>
    <%= yield %>
  </body>
</html>

