<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Landlord</title>
</head>
<body>
  <header>
    <h1><a href="/">Landlord</a></h1>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
