<!DOCTYPE html>
<html>
  <head>
    <title>Apartment App</title>
    <link rel="stylesheet" href="/css.css" />
    <script src="js.js"></script>
  </head>
  <body>
    <div class="top">Landlord</div>
    <ul>
      <li><a href="/apartments">Apartments</a></li>
    </ul>
  <%= yield %>
  </body>
</html>
