<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>The Apartments</title>
  <link rel="stylesheet" type="text/css" href="style.css">
<header>
Welcome to the Apartments
</header>
</head>
<body>
  <nav>
    <a href="/apartments">Apartments</a>
    <a href="/tenants">Tenants</a>
    </nav>
  <%= yield %>
</body>
</html>
