<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Real Estate Empire</h1>
  <p><a href="/apartments">All Apartments</a><br></p>
  <p><a href="/apartments/new">Add New Apartment</a><br></p>
  <p><a href="/tenants">All Tenants</a><br></p>
  <p><a href="/tenants/new">Add New Tenant</a><br></p>
  <%= yield %>
</body>
</html>
