<!DOCTYPE html>
<html>
  <head>
    <title>Apartments for rent</title>
        <link rel="stylesheet" type="text/css" href= "\style.css"/>
  </head>
  <body>
    <header>
      <h1>Apartments for rent</h1>
      <a class="nav" href="/apartments">All Apartments</a>
      <a class="nav" href="/tenants">All Tenants</a>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
