<!DOCTYPE html>
<html>
<head>
  <title>Landlord</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Landlord</h1>
  <nav>
    | <a href="/apartments">Apartments</a> |
    <a href="/tenants">Tenants</a> |
  </nav>
    <p>this is a test paragraph before the yield</p>

  <!-- yield contents for ruby to inject  -->
  <%= yield %>

  <p>this is a test paragraph after the yield</p>
</body>
</html>
