<!doctype html>
<html>
  <head>
    <title>The Landlord</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <a href='/apartment'>List All apartments</a>
      <a href='/apartment/3'>View sample apartment</a>
      <a href='/apartment/new'>Create a new apartment</a>
      <a href='/apartment/3/tenant'>List tenants for sample apartment</a>
      <a href='/apartment/3/tenant/new'>Add tenant to apartment</a>
    </nav>
    <%= yield %>
  </body>
</html>
