<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landlord</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>Chase the Landlord</header>
    <main class='cf'>
      <%= yield %>
    </main>
    <footer>&copy; Chase the Landlord, 2015</footer>
  </body>
</html>
