<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="<%= url("/styles.css")%>">
    <title>Landlord</title>
</head>
<body>
    <%=yield%>
<footer>
    <div id="contain">
        <div id="footer">
            <p>CAP Production <a href="https://chris-a-phillips.github.io/">Christopher Phillips</a> - © 2016</p>
        </div>
    </div>
</footer>
</body>
</html>
