<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
  </head>
  <body>
    <h1>Artist stuff</h1>
    <h2><a href="/apartments">All Artists</a></h2>
    <h3><a href="/tenants">All Songs</a></h3>
    <%= yield %>
  </body>
</html>
