<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlords</title>
  <script src="//use.edgefonts.net/sansita-one;sofia;lancelot;league-gothic;poiret-one.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css"></link>
</head>
<body>
  <header>
    <h1>My Landlords App</h1>
  </header>
  <nav>
    <ul>
      <li>
        <a href="/apartments">View All Apartments</a>
      </li>
      <li>
        <a href="/apartments/tenants">View All Tenants</a>
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
