<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <h1>Bob's Apartment Management Application</h1>
    <nav>

    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  </footer>
</body>
</html>
