<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Landlord</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    <a href="/">
      <h1>Landlord App</h1>
    </a>
    <%= yield %>
  </body>

</html>
