<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout</title>
    
  </head>
  <body>
    <h1>This Land is MY LAND</h1>
    <h2><a href="/apartments">All Apartments</a></h2>
    <h3><a href="/tenants">All Tenants</a></h3>
    <%= yield %>
  </body>
</html>
