<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>LANDLORD</title>
</head>
<body>
  <header><a href='/'>Welcome to LANDLORD</a></header>

    <%= yield %>
</body>
</html>
