<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>aprt</title>
  <link rel="stylesheet" href="/../css/styles.css">
</head>
<body>
  <%= yield %>
  <footer>
    <a href="/apartments">list of apartments</a>
  </footer>
</body>
</html>
