<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8"> -->
</head>
<body>
  <header>

    <h1 style="display: inline-block;"><a href="/">GoodLordy: The landlord app</a></h1>
    <h2 style="display: inline-block; float: right;"><a href="/tenants">Tenants</a></h2>
  </header>
  <%= yield %>
</body>
</html>
