<!DOCTYPE html>
<html>
<head>
<title>Beer on the Wall</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="">Properties</a></li>
        <li><a href="">Details</a></li>
        <li><a href="">Add Property</a></li>
        <li><a href="">Tenants</a></li><%
      </ul>
    </nav>
  </header>
    <%= yield %>
</body>
</html>
