<!DOCTYPE html>
<html>
  <head>
    <title>Lord of the Lands</title>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css" />	
  </head>
  <h1>Lord of the Lands</h1>
  <body>
    <%= yield %>
    <!-- something about if current page is not "/", display below link -->
    <p><a href="/">Home</a></p>
  </body>
</html>