<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Landlord</title>
  </header>
  <body>
    <header>
      <h1>Landlord</h1>
      <a class="nav" href="/apartments">All Apartments</a>
      <a class="nav" href="/apartments/new">Add Apartment</a>
      <a class="nav" href="/tenants">All Tenants</a>
      <a class="nav" href="/tenants/new">Add Tenant</a>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
