<!DOCTYPE html>
<html>
  <head>
    <title>Landlord</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1><a href="/">Landlord App</a></h1>
    <%= yield %>
  </body>
</html>
