<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landlord 1.0</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" >
  </head>
  <header>
    <h1> Welcome to Landlord 1.0 </h1>
  </header>
  <body>
    <nav>
      <a href="/apartments">Apartments</a>
      <a href= "apartments/new">Add New Apartment</a>
      <a href="/tenants">Search Tenants</a>
    </nav>
    <%= yield %>
  </body>
</html>
