<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Zaneh's Luxury Apartments</h1>
  <p><a href="/apartments/new">Create a New Apartment</a>
  <a href= "/apartments">Apartment Directory</a>
    <a href= "/tenants">Tenant Directory</a>
  <%= yield %>
</body>
</html>
