<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css" charset="utf-8">
  <title>Landlord</title>
</head>
<body>
  <header>
    <h1>Apartments <a href="/apartments/new">(+)</a></h1>
  <nav>
    <a href="/apartments">Apartments</a>
  </nav>
  </header>
  <%= yield %>
</body>
</html>
