<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlord</title>
</head>
<body>
  <div class='apartments'>
  <!-- # List all apartments (hardcode into the erb file) -->
  <!-- # View a single apartment's details -->
  <!-- # Create a new apartment - should I use post?
    # Route will show a form for adding a new apartment
    # Form includes address, monthly_rent, sqft, num_beds, num_baths, renters -->
  </div>

  <div class='tenants'>
  <!-- # List all tenants in apartment 1 -->
  <!-- # Create a new tenant (in apartment 1?) -->
    <!-- # Route will show a form for adding a new tenant
    # Form includes Name, Age, Gender -->
  </div>
  <%= yield %>
</body>
</html>
