<h2>New Apartment</h2>

<form action="/apartments" method="post" >
  <p>
  <label>Address:</label>
  <input name="address">
  </p>

  <p>
  <label>Monthly Rent:</label>
  <input name="monthly_rent">
  </p>

  <p>
  <label>Area:</label>
  <input name="sqft">
  </p>

  <p>
  <label>Number of Beds:</label>
  <input name="num_beds">
  </p>

  <p>
  <label>Number of Baths:</label>
  <input name="num_baths">
  </p>

  <p>
  <input type="submit" value="Create">
</form>
