<h1>Create New Apartment</h1>

<form action="/" method="post">
  <h3>Address :</h3>
  <input type="text" name="apartment[address]" value="">
  <h3>Monthly Rent :</h3>
  <input type="number" name="apartment[monthly_rent]" value="">
  <h3>Square Feet :</h3>
  <input type="number" name="apartment[sqft]" value="">
  <h3>Bathrooms :</h3>
  <input type="number" name="apartment[num_baths]" value="">
  <h3>Bedrooms :</h3>
  <input type="number" name="apartment[num_beds]" value="">
  <input type="submit" name="" value="Create">

</form>
