<form method='post' action='new'>
  <input type='text' name='address' placeholder="Address">
  <input type='text' name='monthly_rent' placeholder="Rent">
  <input type='text' name='sqft' placeholder="Sqft">
  <input type='text' name='num_beds' placeholder="Bedrooms">
  <input type='text' name='num_baths' placeholder="Baths">
  <input type='submit'>
</form>
