<h2>Add a New Apartment</h2>
<form action=/apartments/ method="post">
  <input name="address" type="text" value="Address">
  <input name="monthly_rent" type="text" value="Monthly Rent">
  <input name="sqft" type="text" value="Square Feet">
  <input name="num_beds" type="text" value="Total Bedrooms">
  <input name="num_baths" type="text" value="Total Bathrooms">
  <input type="submit" value="Submit">
</form>
