

<form action="/" method="POST">
	<p>Name</p>
	<input type="text" name="name">
	<p>Age</p>
	<input type="number" name="age">
	<p>Gender</p>
	<input type="text" name="gender">
	<p>Apartment Id</p>
	<input type="number" name="apt_id" placeholder="<%=params[:num]%>">
	<input type="submit" name="submit">
</form>

