<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="get" action=".">
      <fieldset>
        <input type="text" name="name" placeholder="Tenant's Name"/>
        <input type="text" name="age" placeholder="Age"/>
        <input type="text" name="gender" placeholder="Sex"/>
        <input type="text" name="apartment_id" placeholder="Apartment ID"/>
      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
