<h2>Add An Apartment</h2>
  <form action="/apartments" method="post">

  <label>Adress: </label>
  <input type="text" name="apartment[address]">

  <label>Square Feet: </label>
  <input type="int" name="apartment[sqft]">

  <label>Number of Beds</label>
  <input type="int" name="apartment[num_beds]">

  <label>Number of Baths</label>
  <input type="int" name="apartment[num_baths]">

  <input type="submit" value="Add Apartment">
</form>
