

<form action="/" method="post">
	<p>Address</p>
	<input type="text" name="location">
	<p>Rent</p>
	<input type="number" name="rent">
	<p>Square Feet</p>
	<input type="number" name="sqfeet">
	<p>Beds</p>
	<input type="number" name="beds">
	<p>Baths</p>
	<input type="number" name="baths">
	<input type="submit" name="submit">
</form>