<h2>Add a New Tenant</h2>
<p><%=@url %></p>
<form action="<%=@url %>" method="post">
  <input name="name" type="text" value="Name">
  <input name="age" type="text" value="Age">
  <input name="gender" type="text" value="Gender">
  <input name="apartment_id" type="text" value="Apartment ID">
  <input type="submit" value="Submit">
</form>
