<form>
	<input type="text" name="add">
	<input type="number" name="rent">
	<input type="number" name="sqfeet">
	<input type="number" name="beds">
	<input type="number" name="baths">
	<input type="submit" name="submit">
</form>