<h1>Add a New Apartment</h1>

<form action="/apartments" method="post">
  <h3>Address: <input name="apartment[address]"></h3>
  <h3>Monthly Rent: <input name="apartment[monthly_rent]"></h3>
  <h3>Square Feet: <input name="apartment[sqft]"></h3>
  <h3>Bedrooms: <input name="apartment[num_beds]"></h3>
  <h3>Bathrooms: <input name="apartment[num_baths]"></h3>
  <input type="submit" value="Add New Apartment">
</form>

<br><b><a href="/">Menu</a></b>
