<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Landlord Property Management System</title>
</head>
<style>
p {display: inline-block;}
</style>
<body>

<h2>Landlord Property Management System</h2>
	<% @apartments(aptid)

	<Form Name="showform">
		<INPUT TYPE="text" Name=id VALUE=@apartment.id<
		<INPUT TYPE="text" Name=id VALUE=@apartment.address<
		<INPUT TYPE="text" Name=id VALUE=@apartment.monthly_rent<
		<INPUT TYPE="text" Name=id VALUE=@apartment.sqft<
		<INPUT TYPE="text" Name=id VALUE=@apartment.num_beds<
		<INPUT TYPE="text" Name=id VALUE=@apartment.num_baths<


	<input 
		
	<div>

 	 # <p><a href='/tenant_menu/'>Tenant Menu</a></p>
 	 # <p><a href='apartment/apartment/apartment_menu'>Apartment Menu</a></p>
 	 # <p><a href='//'>Exit App</a></p>



 	 </div>

</body>
</html>