<h1>Add a New Tenant</h1>
<form method="post" action="/tenants">
  <fieldset>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="gender" placeholder="Gender">
    <input type="text" name="address" placeholder="Address">
    <input type="submit" value="Submit">
  </fieldset>
</form>
