body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  letter-spacing: .25em;
  font-size: 200%;
  color: rgb(241, 235, 0);
}


a, p, h2, h3 {
  color: rgb(241, 235, 0);
  text-decoration: none;
  border-radius: 10px;
}

.wrapper{
  background-image: url(../images/exp-apartment.jpg);
  margin: 0 auto;
  width:800px;
  background-color: black;
}

input[type=text] {padding:5px; border:2px solid #ccc;
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:10px 15px; background:#000; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;  color:#fff; font-size: 20px; width:220px;}
