body{
  font-family:"Helvetica Neue";
  margin:auto;
  max-width:40em;
  padding:1em;
}

nav{
  margin-bottom:2em;
}

nav a{
  display:block;
}

input[type="text"]{
  display:block;
  font:inherit;
  margin-bottom:.5em;
}
