<h2>To add a new Tenant Please Fill out the Below Form</h2>
<form action="/tenants" method="post">
  <label>Name: </label>
  <input type="text" name="tenant[name]">

  <label>Age: </label>
  <input type="text" name="tenant[age]">

  <label>Gender: </label>
  <input type="text" name="tenant[gender]">

  <label>Apartment Id:: </label>
  <input type="text" name="tenant[apartment_id]">

  <input type="submit" value="CREATE">
</form>
