<header
<nav>
  <a href="http://localhost:4567/">home</a>
</nav>
</header>

<h1>
  Current Tenants
</h1>

  <% @tenants.each do |tenant| %>
<li>
  <a href="">
  <%= tenant.name %>
</a>
</li>
<%end%>

<form method='post' action='/tenants'>
  <input type='text' name'name'>
  <input type='text' age'address'>
  <input type='text' gender'address'>
  <input type='submit'>
</form>
