<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <h1>Hello</h1>
   <% @tenants.each do |tenant| %>

     <p class="showoff">
       <a href="/tenants/<%= tenant.id %>" >
       <%= tenant.name + " Age: " + tenant.age.to_s + " Gender: " + tenant.gender %>
        </a>
     </p>
   <% end %>
   <h2><a href="/tenants/new">Add a Tenant</a></h2>

   <h3><a href="/">Home</a></h3>
 </body>
</html>
