<h1>Welcome to Tenants</h1>

<% @tenants.each do |tenant| %>
  <div class="ten">
    <p>
      <%= tenant.name %>
    </p>
    <p>
    <% if tenant.apartment
      address = tenant.apartment.address
    else
      address = "homeless"
    end  %>
      <%= address %>
    </p>
  </div>
<% end %>
