<h1>Tenants</h1>

<ul>
  <% @tenants.each do |tenant|%>
  <li><a href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></li>
  <% end %>
</ul>

<div class="add_link">
  <a href="/tenants/new">Add Tenant</a>
</div>
