<p class="new"><a class="btn btn-warning btn-sm" href="/tenants/new">(+) Add Tenant</a></p>
<% @tenants.each do |tenant| %>
<p id="alltenants"><a class="btn btn-success btn-sm" href="/tenants/<%= tenant.id %>"><%= tenant.name %></a></p>
<% end %>
