<h1>Tenants for
  <a href="/apartments/<%= @apartment.id %>">
    <%= @apartment %>
  </a>
</h1>

<% tenants = @apartment.tenants %>
<% if tenants.size == 0 %>
  None found
<% else %>
  <ul>
    <% tenants.each do |tenant| %>
      <li>
        <%= tenant %>
      </li>
    <% end %>
  </ul>
<% end %>
