<h1>REGISTER A NEW TENANT</h1>

<form method="post" action="/tenants">
  <p>Name: <input type="text" name="tenant[name]"></p>
  <p>Age: <input type="text" name="tenant[age]"></p>
  <p>Gender: <input type="text" name="tenant[gender]"></p>
  <p>Apt ID: <input type="text" name="tenant[apartment_id]"></p>
  <input type="submit" value="Register">
</form>
