
<h3>Add a new Tenant</h3>
<form action="/tenant" method="post">
  <label>Name: </label>
  <input name="tenant[name]">
  <br>
  <label>Age: </label>
  <input name="tenant[age]">
  <br>
  <label>Gender</label>
  <input name="tenant[gender]">
  <br>
  <label>Apartment ID</label>
  <input name="tenant[apartment_id]">
  <input type="submit" value="Create">
</form>
