<!-- # Create a new tenant (in apartment 1?)
# Route will show a form for adding a new tenant
# Form includes Name, Age, Gender -->

<p>Create a new tenant</p>
<form method="post" action="/tenants">
  <input type="text" placeholder="name">
  <input type="text" placeholder="age">
  <input type="text" placeholder="gender">
</form>
