<a href="/">Home</a>

    <form action="/tenants" method="post">
    <h3>Please list the tenant details below:</h3>
    <h2>Name: <input name="tenant[name]"></h2>
    <h2>Age: <input name="tenant[age]"></h2>
    <h2>Gender: <input name="tenant[gender]"></h2>
    <h2>Apartment ID: <input name="tenant[apartment_id]"></h2>
    <input type="submit" value="submit">
    </form>
