<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Tenant</title>
  </head>
  <body>
    <h1>New Tenant</h1>
<form action="/tenants" method="post">
  Name:
  <input type='text' name="tenant[name]]">
  Age:
  <input type='INT' name="tenant[age]]">
  Gender:
  <input type='text' name="tenant[gender]]">
  <input type="submit">
  </body>
</html>
