<form method="post" action=".">
  <input type="text" name="name" placeholder="tenant name" />
  <input type="text" name="age" placeholder="tenant age" />
  <input type="text" name="gender" placeholder="tenant gender" />
  <input type="text" name="apartment" placeholder="apartment" />
  <input type="submit" value="Submit" />
</form>
