<h1>New Tenant</h1>

<form action="/tenants" method="post">
  <p>
  Name:
  <input type="text" name="tenant[name]"><br>
  </p>

  <p>
  Age:
  <input type="text" name="tenant[age]"><br>
  </p>

  <p>
  Gender:
  <input type="text" name="tenant[gender]"><br>
  </p>

  <p>
  ID:
  <input type="text" name="tenant[tenant_id]"><br>
  </p>

  <input type="submit">
</form>
