<h2>create new tenant</h2>

<p>
  Enter the new tenant information
</p>
<form method="post" action="new">
  <input type="text" name="name" placeholder="enter name"/>
  <input type="text" name="age" placeholder="enter age"/>
  <input type="text" name="gender" placeholder="enter gender"/>
  <input type="submit" value="Submit" />
</form>
