<!DOCTYPE html>
<html>
<head>
  <title>Tenants</title>
</head>
<body>
  <h1>Complete this Form to Add a Tenant:</h1>
  <form method='post' action='/tenants/new'>
    <p>Name:</p>
    <input type='text' name='name'>
    <p>Age:</p>
    <input type='integer' name='age'>
    <p>Gender:</p>
    <input type='text' name='gender'>
    <p>Click to submit:</p>
    <input type='submit'>
  </form>
</body>

</html>
