<h3><a href="/tenants">View All Tenants</a></h3>

<form action="/tenants" method="post">
  <label>Name: </label>
    <input name="name">
  <label>Age: </label>
    <input name="age">
  <label>Gender</label>
    <input name="gender">

  <input type="submit" value="Create">

</form>
