<h1> Create a new Tenant </h1>

<form action="/apartments/<%= @apartment.id %>/tenants" method="post">
  <p><label> Name:</label></p>
  <input type="text" name='name'>

  <p><label> Age: </label></p>
  <input type='number' name='age' min="0">

  <p><label> Gender: </label></p>
  <input type='text' name='gender'>


  <p><input class='button-style' type='submit' value='Create Tenant'></p>

</form>
