<h1>Add a new tenant</h1>
<form action="/apartments" method="post">
  New Tenant Name: <input type="text" name="tenant[name]">
  <br>
  Age: <input type="text" name="tenant[age]">
  <br>
  Gender: <input type="text" name="tenant[gender]">
  <br>
  Apartment: <input type="text" name="tenant[apartment_id]">
  <br>
  <input type="submit" value="Add">
</form>

<p>
<a href="/apartments">  Back to Apartments </a>
</p>
