<form method="post" action=".">
  <input type = "text" placeholder="Name">
  <input type = "text" placeholder="Age">
  <input type = "text" placeholder="Gender">
  <input type = "text" placeholder="Apartment ID">
  <input type="submit">
</form>
