<h1>New Tenant</h1>

<form method="post" action="/tenants">
  <p>Name: <input type="text" name="tenant[name]"></p>
  <p>Age: <input type="text" name="tenant[age]"></p>
  <p>Gender: <input type="text" name="tenant[gender]"></p>
  <input type="submit" value="Create">
</form>
