<h2>New Tenant</h2>

<form action="/tenants" method="post">
<ul>
  <li>
  <label>Name: </label>
  <input type="text" name="tenant[name]">
  </li>
  <li>
  <label>Age: </label>
  <input type="text" name="tenant[age]">
  </li>
  <li>
  <label>Gender: </label>
  <input type="text" name="tenant[gender]">
  </li>
  <input type="submit" value="update tenant">
</ul>
</form>
