
<h1> CREATE A NEW TENANT</h1>

<form action="/tenants" method="post">

  <label>name:</label>
  <input type="text" name="tenant[name]" >

  <label>age:</label>
  <input type="text" name="tenant[age]">

  <label>gender:</label>
  <input type="text" name="tenant[gender]" >

  <label>apartment_id:</label>
  <input type="text" name="tenant[apartment_id]" >


  <input type="submit" >
</form>
