<h2>New tenant</h2>

  <form method="get" action=".">
      <fieldset>
        <input type="text" name="name" placeholder="Name" />
        <input type="integer" name="age" placeholder="Age" />
        <input type="text" name="gender" placeholder="Gender" />
      </fieldset>
