<h3>add new tenant</h3>

<form class="" action="/tenants" method="post">
  <label>Name:</label>
  <input type="text" name="tenant[name]" placeholder="First Last">
  <label>Age:</label>
  <input type="text" name="tenant[age]" placeholder="XX">
  <label>Gender:</label>
  <input type="text" name="tenant[gender]" placeholder="Male / Female">
  <input type="submit">
</form>

<h3><a href="/directory">return home</a></h3>
