<h1><%= @tenant.name %></h1>
<p>
  Sqft: <%= @tenant.gender %>
</p>
<p>
  Beds: <%= @tenant.age %>
</p>
<p>Address:
<% if @tenant.apartment
  address = "<a href='/apartments/#{@tenant.apartment.id}'>#{@tenant.apartment.address}</a>"
else
  address = "homeless"
end  %>
  <%= address %>
</p>

<div class="pageLinks">
  <a href='/tenants'>All tenants</a>
</div>
