<h2><a href="/tenants">All Tenants</a></h2>
<div class="tenant">

  <p>Tenant Name: <%= @tenant.name %></p>
  <p>Age: <%= @tenant.age %></p>
  <p>Gender: <%= @tenant.gender %></p>

</div>

<h3><a href="/pokemons/<%= @pokemon.id %>/edit">Edit Tenant</a></h3>
