<a href="/tenants/new">create new tenant</a>

<h2>tenant name: <%=@tenant.name%></h2>
<h3>age: <%=@tenant.age%></h3>
<h3>gender: <%=@tenant.gender%></h3>

<h3><a href="/tenants/<%= @apartment.id %>/edit">Edit this tenant</a></h3>
