<h2><%= @tenant.name %></h2>
Tenant age: <%= @tenant.age %> <br><br>
Tenant gender: <%= @tenant.gender %> <br><br>
Residence: <%= @apartment.address %> <br><br>

<h2><a href="/tenants">Back to tenant overview</a></h2>
<h2><a href = "/apartments">Back to properties</a></h2>
