<h2><a href="/tenants">Back To Tenant List</a></h2>
<div class="tenant">
  <p>
    Tenant Name: <%= @tenant.name %>
  </p>
  <p>
    Tenant Age: <%= @tenant.age %>
  </p>
  <p>
    Tenant Gender:  <%= @tenant.gender %>
  </p>
</div>
