<h2>New Tenant</h2>

<form action="/tenant" method="post">
   <label for="">Name</label>
   <input type="text" name="tenant[name]">

   <label for="">Age</label>
   <input type="text" name="tenant[age]">

   <label for="">Gender</label>
   <input type="text" name="tenant[gender]">

   <label for="">Apt ID</label>
   <input type="text" name="tenant[apartment_id]">

   <button type="submit">Submit</button>
</form>
