<h2>New tenant</h2>

<form action="/tenants" method="post">

  <label>name</label>
  <input type="text" name="tenant[name]">

  <label>age</label>
  <input type="INTEGER" name="tenant[age]">

  <label>apartment id</label>
  <input type="integer" name="tenant[apartment_id]">

  <button type="submit">Submit</button>

</form>

<a href="/tenants">Return to Home</a>
