a {
  text-decoration: none;
  color: rgb(237, 121, 88);
}
a:link {
  text-decoration: none;
  color: rgb(237, 121, 88);
}
a:visited {
  text-decoration: none;
  color: rgb(148, 61, 36);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 64, 8);
}
.wrapper, {
  margin-top: 12em;
}

span {
  text-decoration: underline;
}
header {
  position: fixed;
  text-decoration: overline underline;;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
}

nav, form {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;

}
nav {
  position: fixed;
  margin-top: 4em;

}
.wrapper {
  position: relative;
  margin-top: 7em;
  text-align: center;
  z-index: auto;
}
.apartment, .tenant {
  float: left;
  margin: 0 auto;
  width: 100%;
}

body {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  /*background-image: url(/Blueprint-featured.png);*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Ariel", monospace;
  letter-spacing: .25em;
  font-size: 200%;
}
h1, h2, h3 {
  color: rgb(148, 61, 36);
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;
}

label{
  color: rgb(237, 121, 88);
}

label, .delete {
  rgb(148, 61, 36);
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: center;

}
