<h2>Add an apartment</h2>
<form method = "post" action = "/apartments/new">
  Address:
  <input type="text" name="address"/>
  Monthly Rent:
  <input type="text" name="monthly_rent"/>
  Square feet
  <input type="text" name="sqft"/>
  Number of beds
  <input type="text" name="num_beds"/>
  Number of baths
  <input type="text" name="num_baths"/>

  <input type="submit" value="Submit"/>
</form>
