<h2>Create a new apartment</h2>

<form method="post" action=".">
  <fieldset>
    1. <input type="text" name="address" placeholder="Apartment Address">
  </fieldset>

  <fieldset>
    2. <input type="text" name="monthly_rent" placeholder="Monthly Rent">
  </fieldset>

  <fieldset>
    3. <input type="text" name="sqft" placeholder="Square Feet">
  </fieldset>

  <fieldset>
    4. Number of bedrooms:
    <select name="num_beds">
      <option value="1 bedroom">1 bedroom</option>
      <option value="2 bedrooms">2 bedrooms</option>
      <option value="3 bedrooms">3 bedrooms</option>
      <option value="3 bedrooms">4 bedrooms</option>
    </select>
  </fieldset>

  <fieldset>
    5. Number of bathrooms:
    <select name="num_baths">
      <option value="1 bathroom">1 bathroom</option>
      <option value="2 bathrooms">2 bathrooms</option>
      <option value="3 bathrooms">3 bathrooms</option>
      <option value="4 bathrooms">4 bathrooms</option>
    </select>
  </fieldset>

  <input type="submit" value="Submit" />
</form>
