<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TUNR</title>
  </head>
  <body>
    <h1>Delete <%=@apartment.name%>?</h1>
<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete!">
</form>

  </body>
</html>
