<h2>Edit the Apartment Information</h2>

<form method="post" action="/apartments/<%= @apartment.id %>">
  <input type="hidden" name="_method" value="put">
  <input type='text' name='address' placeholder="Address">
  <input type='text' name='monthly_rent' placeholder="Rent/Month">
  <input type='text' name='sqft' placeholder="Square Footage">
  <input type='text' name='num_beds' placeholder="Bedrooms">
  <input type='text' name='num_baths' placeholder="Bathrooms">
  <input type='submit'>
</form>
