<div class="apartment_update">

  <h2>Update Apartment Info:</h2>
  <form method="post" action="/apartments/show/<%=@apartment.id%>"/>
    <p><input type='text' name='address' placeholder="Address"/> Address</p>
    <p><input type='text' name='monthly_rent' placeholder="Monthly Rent"/> Monthly Rent</p>
    <p><input type 'text' name='sqft' placeholder="Square Feet"/> Square Feet</p>
    <p><input type 'text' name='num_beds' placeholder="Beds"/> Beds</p>
    <p><input type 'text' name='num_baths' placeholder="Baths"/> Baths</p>
    <input type='submit' value='Submit'/>
  </form>

</div>
