<h2>Apartments <a href="/apartments/new">Add new</a></h2>
<ul>
  <% @apt.each do |apt| %>
    <li>
      <a href="/apartments/<%=apt.id%>">
        <%= apt.address %>
      </a>
    </li>
    <% end %>
</ul>
