<h1>Information for all apartments. (hardcoded html)</h1>
  <p>UNDER CONSTRUCTION</p>
<table border="1">
  <tr>
    <td>Apartments</td>
    <td>Meridian</td>
    <td>Cityview</td>
    <td>Plaza</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>111 First Street</td>
    <td>222 U Street</td>
    <td>333 Orlando Drive</td>
  </tr>
  <tr>
    <td>Rent</td>
    <td>$1025</td>
    <td>$950</td>
    <td>$1200</td>
  </tr>
  <tr>
    <td>SqFt</td>
    <td>400</td>
    <td>800</td>
    <td>1000</td>
  </tr>
</table>
