<a href="/apartments/new">Add New Apartment</a>
<% @apartments.each do | apartment| %>
  <div class="apartment">
    <h2><a href='/apartments/<%= apartment.id %>'><%= apartment.address %></a></h2>
  </div>
<% end %>
