<h1> list of apartments</h1>
<p><a href="apartments/new">Create new apartment</a></p>
<% @apartments.each do |apartment| %>
  <p><a href="apartments/<%=apartment.id %>"><%=apartment.address %></a></p>
<%end%>
