<!-- List all apartments (hardcode into the erb file) -->

<ul>
  <li><a href="/apartments/1">Apartment 1</li>
  <li><a href="/apartments/2">Apartment 2</li>
  <li><a href="/apartments/3">Apartment 3</li>
  <li><a href="/apartments/4">Apartment 4</li>
  <li><a href="/apartments/5">Apartment 5</li>
</ul>
