<ul>
<li><a href='/apartments/1'>Apartment 1</a></li>
<li><a href='/apartments/2'>Apartment 2</a></li>
<li><a href='/apartments/3'>Apartment 3</a></li>
<li><a href='/apartments/new'>New Apt</a></li>
</ul>
