<h2>Apartments Listing</h2>
<% @apartments.each.do |apartment| %>

<p><a href="/apartments/<%= apartment.id %>">
    <%= apartment.address %>
  </a></p>

  <% end %>

  <h3>Post a <a href="apartments/new">New</a> Listing</h3>
