<h1>Index</h1>
<h3><a href="/apartments/new">Add apartment</a></h3>

<% @apartments.each do |apartment| %>
  <li>
    <a href="apartments/<%= apartment.id %>"><%= apartment.address %></a>
  </li>
<% end %>
<h2>New</h2>
<a href="apartments/new">Create apartment</a>
