<h1>Apartments</h1>

<ul>
  <% @apartments.each do |apt|%>
  <li><a href="/apartments/<%= apt.id %>"><%= apt.address %></a></li>
  <% end %>
</ul>

<div class="add_link">
  <a href="/apartments/new">Add Apartment</a>
</div>
