<h2>All Apartments</h2>


<ul>
  <% @apartments.each do |apartment| %>
  <li>
    <a href="/apartment/<%= apartment.id %>">
      <%= apartment.address %></a>
    </li>
    <% end %>
  </ul>
  <!--
  <div class="new_artist">
  <a href="/artists/new">Add a New Artist</a>
</div> -->
<hr />
<div class="spacing">
  <a href="/">Back to Home</a>
</div>
