<h2>Apartments <a href="/apartments/new">(+)</a><h2>

<% @apartments.each do |apartment| %>
  <p>
    <a href="/apartments/<%= apartment.id %>">
      <%= apartment.address %>
    </a>
  </p>
<% end %>
