<!DOCTYPE html>
<html>
<head>
  <title>Apartments</title>
</head>
<body>
  <h1>Complete this Form to Add an Apartment:</h1>
  <form method='post' action='/apartments/new'>
    <p>Address:</p>
    <input type='text' name='address'>
    <p>Monthly Rent:</p>
    <input type='integer' name='monthly_rent'>
    <p>Square Feet:</p>
    <input type='integer' name='sqft'>
    <p>Number of Bathrooms:</p>
    <input type='integer' name='num_baths'>
    <p>Number of Bedrooms:</p>
    <input type='integer' name='num_beds'>
    <p>Click to submit:</p>
    <input type='submit'>
  </form>
</body>

</html>
