<h2>Create a new apartment on this page</h2>

<form method='post' action='/apartments'>
  <input type='text' name='apartment_address' placeholder='Apartment Address'>
  <input type='text' name='apartment_monthly_rent' placeholder='Monthly rent $'>
  <input type='text' name='apartment_sqft' placeholder="Square feet">
  <input type='text' name='apartment_num_beds' placeholder='Number of Bedrooms'>
  <input type="text" name="apartment_num_baths" placeholder='Number of Bathrooms'>
  <button class='form_submit' type='submit' value='SUBMIT'>SUBMIT</button>
</form>
