
<form action="/apartments" method="post">
  <label>address:</label>
  <input type="text" name="apartment[address]">

  <label>monthly rent:</label>
  <input type="text" name="apartment[monthly_rent]">

  <label> sqft:</label>
  <input type="text" name="apartment[sqft]">


  <label> num of beds:</label>
  <input type="text" name="apartment[num_beds]">

  <label> num of baths:</label>
  <input type="text" name="apartment[num_baths]">

  <input type="submit" value="Add Apartment">
</form>
