<h1> Add Apartment </h1>

<form  action="/apartments" method="post">
  <label for="">Address</label>
<input type="text" name="apartment[address]" ><br>

<label for="">Monthly_Rent</label>
<input type="text" name="apartment[monthly_rent]" ><br>

<label for="">Num_Beds</label>
<input type="text" name="apartment[num_beds]" ><br>

<label for="">Num_Baths</label>
<input type="text" name="apartment[num_baths]" ><br>

<button type="submit" name="button">Submit</button>

</form>
