<form action="/apartments" method="post">
  <label>Address: </label>
    <input name="address">
  <label>Rent: </label>
    <input name="monthly_rent">
  <label>Square Feet: </label>
    <input name="sqft">
  <label>Bedrooms: </label>
    <input name="num_beds">
  <label>Bathrooms: </label>
    <input name="num_baths">
  <input type="submit" value="Create">
</form>
