<h2> Create New Apartment </h2>
<form action="/apartments" method="post">
  <label>Address:</label>
  <input type="text" name="apartment[address]">

  <label>Monthy Rent:</label>
  <input type="text" name="apartment[monthly_rent]">

  <label> Square Ft:</label>
  <input type="text" name="apartment[sqft]">


  <label> Number of Beds:</label>
  <input type="text" name="apartment[num_beds]">

  <label> Number of Baths:</label>
  <input type="text" name="apartment[num_baths]">

  <input type="submit" value="Add Apartment">
</form>
