<h1>Add a new property</h1>

<form action="/apartments" method="post">
  <label>Address:</label>
  <input name="apartment[address]">

  <label>Monthly Rent:</label>
  <input name="apartment[monthly_rent]">

  <label>Square Footage:</label>
  <input name="apartment[sqft]">

  <button type="submit">Add your property!</button>
</form>
