<!-- Create a new apartment - should I use post?
Route will show a form for adding a new apartment
Form includes address, monthly_rent, sqft, num_beds, num_baths, renters -->

<p>Create a new apartment</p>
<form method="post" action="/apartments">
  <input type="text" placeholder="address">
  <input type="text" placeholder="monthly_rent">
  <input type="text" placeholder="sqft">
  <input type="text" placeholder="num_beds">
  <input type="text" placeholder="num_baths">
  <input type="text" placeholder="renters">
</form>
