<h2>Add Apartment</h2>

<form action="/apartments/new" method="post">

  <label> Apartment Address </label>
  <input name="apartment[address]">
<br>
  <label> Rent per Month </label>
  <input name="apartment[monthly_rent]">
<br>
  <label> Square Feet (Area) </label>
  <input name="apartment[sqft]">
<br>
  <label> Beds </label>
  <input name="apartment[bed_nums]">
<br>
  <label> Baths </label>
  <input name="apartment[bath_nums]">
<br>
  <input type="submit" value="create">
</form>
<br>
<br>
