<h2>New Apartment</h2>

<form action="/apartments" method="post" >
  <label>Address:</label>
  <input name="apartment[address]">

  <label>Montly Rent:</label>
  <input name="apartment[monthly_rent]">

  <label>Square Feet:</label>
  <input name="apartment[sqft]">

  <label>Full Bedrooms:</label>
  <input name="apartment[num_beds]">

  <label>Bathrooms:</label>
  <input name="apartment[num_baths]">

  <input type="submit" value="Create">
</form>
