<h1>Add a new Apartment</h1>
<form class="" action="/apartments" method="post">
  <label for="address">Address: </label><input type="text" name="address" value="">
  <label for="num_beds">Beds: </label><input type="number" name="num_beds" value="">
  <label for="num_baths">Baths: </label><input type="number" name="num_baths" value="">
  <label for="monthly_rent">Rent: </label><input type="number" name="monthly_rent" value="">
  <button type="submit">Submit</button>
</form>
