<h2>New Property</h2>

<form action="/apartments" method="post">
<ul>
  <li>
  <label>Address: </label>
  <input type="text" name="apartment[address]">
  </li>
  <li>
  <label>Monthly rent: </label>
  <input type="text" name="apartment[monthly_rent]">
  </li>
  <li>
  <label>Square footage: </label>
  <input type="text" name="apartment[sqft]">
  </li>
  <li>
  <label>Bedrooms: </label>
  <input type="text" name="apartment[num_beds]">
  </li>
  <li>
  <label>Baths: </label>
  <input type="text" name="apartment[num_baths]">
  </li>
</ul>

  <input type="submit" value="create property">

</form>
