<h2>Add New Apartment</h2>


<form action="/apartments" method="post">
  <label>Address</label>
  <input type="text" name="address">

  <label>Monthly Rent</label>
  <input type="text" name="monthly_rent">

  <label>Square Feet</label>
  <input type="text" name="sqft">

  <label>Number of Bedrooms</label>
  <input type="number" name="num_beds">

  <label>Number of Baths</label>
  <input type="number" name="num_baths">

  <button type="submit">Create</button>
</form>
