<form method="post" action="/apartments">
  <input type="text" name="apartment[address]" placeholder="Address">
  <input type="text" name="apartment[monthly_rent]" placeholder="Monthly Rent">
  <input type="text" name="apartment[sqft]" placeholder="Square Feet">
  <input type="text" name="apartment[num_beds]" placeholder="Number Beds">
  <input type="text" name="apartment[num_baths]" placeholder="Number Baths">
  <input type="submit">
</form>
