<div id = "main">

  <h2>Add a new apartment</h2>

  <form method="post" action="/apartments/new">

    <p><label for="address">Address: </label><input type="text" placeholder="e.g. 1 Titan Tower" name="address"></p>

    <p><label for="monthly_rent">Monthly Rent: </label><input type="text" placeholder="e.g. 3000" name="monthly_rent"></p>

    <p><label for="sqft">Square Footage: </label><input type="text" placeholder="e.g. 10000" name="sqft"></p>

    <p><label for="num_beds">Number of Beds: </label><input type="text" placeholder="e.g. 5" name="num_beds"></p>

    <p><label for="num_baths">Number of Baths: </label><input type="text" placeholder="e.g. 5" name="num_baths"></p>

    <p><input type="submit" value="Create your apartment"></p>

  </form>

</div>
