<h2>Post a new listing</h2>

<form action="/apartments" method="post">
  <p><label>Street Address:</label></p>
  <input type="text" name="address">

  <p><label>Monthly Rent:</label></p>
  <input type="number" min="0" name="monthly_rent">

  <p><label>Square Feet:</label></p>
  <input type="number" min="0" name="sqft">

  <p><label>Number of Bedrooms:</label></p>
  <input type="number" min="0" name="num_beds">

  <p><label>Number of Bathrooms:</label></p>
  <input type="number" min="0" name="num_baths">

  <p><input type="submit" value ="Post"></p>
  </form>

<h3><a href="/apartments">Back</a></h3>
