<h2>create new apartment</h2>

<p>
  Enter the new apartment information
</p>
<form method="post" action="new">
  <input type="text" name="address" placeholder="enter address"/>
  <input type="text" name="rent" placeholder="enter rent"/>
  <input type="text" name="sqft" placeholder="enter sqft"/>
  <input type="text" name="beds" placeholder="enter bed count"/>
  <input type="text" name="baths" placeholder="enter number of baths"/>
  <input type="submit" value="Submit" />
</form>
