<h2> Add Apartment </h2>

<form action="/apartments/index" method= "post">
<label> Address:  </label>
<input type="text" name="apartment[address]">
<br>
<br>
<br>
<label> Monthly Rent: </label>
<input type="text" name="apartment[monthly_rent]">
<br>
<br>
<br>
<label> Square Feet: </label>
<input type="text" name="apartment[sqft]">
<br>
<br>
<br>
<label> Number of Beds: </label>
<input type="text" name="apartment[num_beds]">
<br>
<br>
<br>
<label> Number of Baths: </label>
<input type="text" name="apartment[num_baths]">
<br>
<br>
<br>
<input type="submit" value="Build Apartment">
</form>
