Create a New Apartment!

<form action="/apartments/" method="post">
  Address:
  <input type= "text" name= "apartment[address]"><br>
  Monthly Rent:
  <input type= "text" name= "apartment[monthly_rent]"><br>
  Square Feet:
  <input type= "text" name= "apartment[sqft]"><br>
  Beds:
  <input type= "text" name= "apartment[num_beds]"><br>
  Baths:
  <input type= "text" name= "apartment[num_baths]"><br>
  <input type="submit">
</form>
