<form method='post' action='/apartments'>
  <input type='text' name='address' placeholder="address">
  <input type='text' name='monthly_rent' placeholder="monthly rent">
  <input type='text' name='sqft' placeholder="square feet">
  <input type='text' name='num_beds' placeholder="number of beds">
  <input type='text' name='num_baths' placeholder="number of baths">
  <input type='submit'>
</form>
