<h1>New Apartment</h1>

<form action="/apartments" method="post">
  Address:
  <input type="text" name="artist[address]"><br>
  Rent:
  <input type="text" name="artist[monthly_rent]"><br>
  Square Feet:
  <input type="text" name="artist[sqft]"><br>
  Beds:
  <input type="text" name="artist[num_beds]"><br>
  Baths:
  <input type="text" name="artist[num_baths]"><br>
  <input type="submit">
</form>


<!-- apartments (address, monthly_rent, sqft, num_beds, num_baths) -->
