<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Apartment</title>
  </head>
  <body>
    <h1>New Apartment Form</h1>
<form action="/apartments" method="post">
  Address:
  <input type='text' name="apartment[address]">
  Monthly Rent:
  <input type='INT' name="apartment[monthly_rent]">
  Square Footage:
  <input type='INT' name="apartment[sqft]">
  Number of Beds
  <input type='INT' name="apartment[num_beds]">
  Number of Baths
  <input type='INT' name="apartment[num_baths]">
  <input type="submit">
</form>
  </body>
</html>
