<h2>Add a new apartment?</h2>
<form method="post" action="/apartments">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="address" placeholder="1600 Pennsylvania Ave NW" />
  <input type="text" name="monthly_rent" placeholder="Rent" />
  <input type="text" name="sqft" placeholder="10000" />
  <input type="text" name="num_beds" placeholder="number of beds" />
  <input type="text" name="num_baths" placeholder="number of baths" />
  <input type="submit" value="Submit" />
</form>
