<h1>Add a new apartment</h1>
<form action="/apartments" method="post">
  New Apartment Address: <input type="text" name="apartment[address]">
  <br>
  Monthly Rent: <input type="text" name="apartment[monthly_rent]">
  <br>
  Sq. Ft.: <input type="text" name="apartment[monthly_rent]">
  <br>
  Number of bedrooms: <input type="text" name="apartment[num_beds]">
  <br>
  Number of bathrooms: <input type="text" name="apartment[num_baths]">
  <br>
  <input type="submit" value="Add">
</form>

<p>
<a href="/apartments">  Back to Apartments </a>
</p>
