<h2>New apartment</h2>

  <form method="post" action="/apartments">
      <fieldset>
        <input type="text" name="address" placeholder="address" />
        <input type="integer" name="monthly_rent" placeholder="Monthly Rent" />
        <input type="integer" name="sqft" placeholder="sqft" />
        <input type="integer" name="num_beds" placeholder="number of beds" />
        <input type="integer" name="num_baths" placeholder="number of baths" />
        <input type="submit" placeholder="Create Apartment"/>
      </fieldset>
