<h2>Post An Apartment in Starling City</h2>
	<form method='post' action='/new'>
		<h3>Address</h3><input type='text' name='address_name' placeholder='House Number & Street Name'>
		<h3>Monthly Rent</h3><input type='text' name='rent_month' placeholder='Rent Per Month'>
		<h3>Square Feet</h3><input type='text' name='square_ft' placeholder='Square Foot'>
		<h3>Number of Beds:</h3><input type='text' name='bed_nos' placeholder='Number of Beds'>
		<h3>Number of Baths:</h3><input type='text' name='bath_nos' placeholder='Full and Half Bathrooms'>
		<h3></h3><input type='submit'>
	</form>