<form class="" action="/apartments" method="post">
  <label for="address">Address</label>
  <input type="text" name="apartment[address]">
  <label for="monthly_rent">Rent</label>
  <input type="text" name="apartment[monthly_rent]">
  <label for="num_beds">Bedrooms</label>
  <input type="text" name="apartment[num_beds]">
  <label for="num_baths">Bathrooms</label>
  <input type="text" name="apartment[num_baths]">
  <br>
  <input type="submit" value="Create Apartment">
</form>
