<h1>Add New Apartment</h1>

<form method= "post" action="/apartments/new">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="monthly_rent" placeholder="Rent(just number)">
  <input type="text" name="sqft" placeholder="Sq. Ft.">
  <input type="text" name="num_beds" placeholder="Beds">
  <input type="text" name="num_baths" placeholder="Baths">
  <input type="submit">
</form>
