<h2>New Apartment</h2>

<form action="/apartments" method="post">
  <label>Address:</label>
  <input type="text" name="apartment[address]">
  <label>Monthly Rent:</label>
  <input type="text" name="apartment[monthly_rent]">
  <label>Square Feet:</label>
  <input type="text" name="apartment[sqft]">
  <label>Beds:</label>
  <input type="text" name="apartment[num_beds]">
  <label>Baths:</label>
  <input type="text" name="apartment[num_baths]">
  <input type="submit" value="Create Apartment">
</form>
