
<form method="post" action="/apartments">
  <fieldset>
    <input type="text" name="address" placeholder="Address"/>
    <input type="text" name="monthly_rent" placeholder="Rent"/>
    <input type="text" name="sqft" placeholder="Square Footage"/>
    <input type="text" name="num_beds" placeholder="Bedrooms"/>
    <input type="text" name="num_baths" placeholder="Bathrooms"/>
  </fieldset>
  <input type="submit" value="Submit" />
</form>
