<h2>Create New Property</h2>

<form action="/apartments" method="post">
  <label>Address</label>
  <input type="text" name="apartment[address]">
  <label>Monthly Rent</label>
  <input type="text" name="apartment[monthly_rent]">
  <label>Square Feet</label>
  <input type="text" name="apartment[sqft]">
  <label># Bedrooms:</label>
  <input type="text" name="apartment[num_beds]">
  <label># Bathrooms:</label>
  <input type="text" name="apartment[num_beds]">
    <input type="submit" value="CREATE">
</form>
