
<h1> CREATE A NEW APARTMENT</h1>

<form action="/apartments" method="post">

  <label>address:</label>
  <input type="text" name="apartment[address]" >

  <label>monthly rent:</label>
  <input type="text" name="apartment[monthly_rent]">

  <label>sqft:</label>
  <input type="text" name="apartment[sqft]" >

  <label>Num beths:</label>
  <input type="text" name="apartment[num_beds]" >

  <label>Num baths:</label>
  <input type="text" name="apartment[num_baths]" >

  <input type="submit" >
</form>
