<h2>Add New Apartment</h2>
<form action="/apartments" method="post">

  <!-- Apartment Address -->
  <label for="apartment[address]">Address:</label>
  <input name="apartment[address]" placeholder="enter address"/>

  <!-- Apartment Monthly Rent -->
  <label for="apartment[monthly_rent]">Monthly Rent:</label>
  <input name="apartment[monthly_rent]" placeholder="enter monthly rent"/>

  <!-- Apartment Square Footage -->
  <label for="apartment[sqft]">Square Footage:</label>
  <input name="apartment[sqft]" placeholder="enter sqft"/>

  <!-- Apartment Number of Beds -->
  <label for="apartment[num_beds]">Num. of Beds:</label>
  <input name="apartment[num_beds]" placeholder="enter # of beds"/>

  <!-- Apartment Number of Baths -->
  <label for="apartment[num_baths]">Num. of Baths:</label>
  <input name="apartment[num_baths]" placeholder="enter # of baths"/>

  <!-- Apartment Renters -->
  <!-- <label for="apartment[num_baths]">Square Footage:</label> -->
  <!-- <input name="apartment[num_baths]" placeholder="enter # of baths"/> -->

  <div class="spacing">
    <button id="submit_new_apartment">Submit</button>
  </div>
</form>

<a href="/apartments">â† Back to All Apartments</a>
