<h2>Add Apartment Below</h2>

<form method='post' action='/apartments'>
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="monthly_rent" placeholder="Rent">
  <input type="text" name="sqft" placeholder="Square Feet">
  <input type="text" name="num_beds" placeholder="Bedrooms">
  <input type="text" name="num_baths" placeholder="Bathrooms">
  <input type="submit">
</form>
