<h1>Add a new Apartment</h1>
<form method="post" action="/apartments">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="monthly_rent" placeholder="Rent">
  <input type="text" name="sqft" placeholder="Squ.Ft.">
  <input type="text" name = "num_beds" placeholder="Number Beds">
  <input type="text" name = "num_baths" placeholder="Number Baths">
  <input type="submit">
</form>
