<h1>New Apartment</h1>

<form method="post" action="/apartments/">
  <p>Address: <input type="text" name="apartment[address]"></p>
  <p>Monthly Rent: <input type="text" name="apartment[monthly_rent]"></p>
  <p>Square feet: <input type="text" name="apartment[sqft]"></p>
  <p>Number of beds: <input type="text" name="apartment[num_beds]"></p>
  <p>Number of baths <input type="text" name="apartment[num_baths]"></p>
  <input type="submit">
</form>
