<div class="addForm">
<form method="post" action="/apartments">
  <label for="address">Address:</label> <input id="address" type="text" name = "address">
  <label for="monthly_rent">Monthly Rent:</label> <input id="monthly_rent" type="text" name = "monthly_rent">
  <label for="sqft">Square Footage:</label> <input id="sqft" type="text" name = "sqft">
  <label for="num_beds">Number of bedrooms:</label> <input id="num_beds" type="text" name = "num_beds">
  <label for="num_baths">Number of Bathrooms:</label> <input id="num_baths" type="text" name = "num_baths">
  <input id="submit_button" type="submit">
</form>
</div>
