<form method="post" action="/apartments">
  <label for="apartment[address]">Address</label>
  <input name="apartment[address]" type="text">

  <label for="apartment[monthly_rent]">Monthly Rent</label>
  <input name="apartment[monthly_rent]" type="text">

  <label for="apartment[sqft]">Square Feet</label>
  <input name="apartment[sqft]" type="text">

  <label for="apartment[num_beds]">Number of Bedrooms</label>
  <input name="apartment[num_beds]" type="text">

  <label for="apartment[num_baths]">Number of Bathrooms</label>
  <input name="apartment[num_baths]" type="text">

  <input type="submit">
</form>
