<h2>New Apartment</h2>

<form action="/apartments" method="post" >

  <label>Address: </label>
  <input name="apt[address]" /> #apt here may need to change

  <label>rent:</label>
  <input name="apt[rent]"  />

  <label>Square feet:</label>
  <input name="apt[sqft]"  />

  <label>Number of Bedrooms:</label>
  <input name="apt[num_beds]"  />

  <label>Number of Bathrooms:</label>
  <input name="apt[num_baths]"  />

  <input type="submit" value="Create" />
</form>
