<h1>Create New Apartment</h1>

<form action="/apartments" method="post">

<label for="">Address</label>
<input type="text" name="aparments[address]" >

<label for="">Monthly_Rent</label>
<input type="text" name="apartments[monthly_rent]" >

<label for="">Sqft</label>
<input type="text" name="apartments[sqft]" >

<label for="">Num_Beds</label>
<input type="text" name="apartments[num_beds]" >

<label for="">Num_Baths</label>
<input type="text" name="apartments[num_baths]" >

<button type="submit" name="button">Submit</button>

</form>
