<!-- Create a new apartment - should I use post?
Route will show a form for adding a new apartment
Form includes address, monthly_rent, sqft, num_beds, num_baths, renters -->

<p>Create a new apartment</p>
<!-- <form method="post" action="/apartments">
  <input type="text" placeholder="address"/>
</form> -->
