<h2>Add Tenant</h2>
<form method="post" action="/apartments/<%= @apt.id %>">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="age" placeholder="Age">
  <input type="text" name="gender" placeholder="Gender">
  <input type="Submit">
</form>
