<h3>Add new apartment</h3>

<form class="" action="/apartments" method="post">
  <label>Address:</label>
  <input type="text" name="apartment[address]" placeholder="ex: 123 Main Street">
  <label>Monthly rent:</label>
  <input type="text" name="apartment[monthly_rent]" placeholder="ex: 2500">
  <label>Square footage:</label>
  <input type="text" name="apartment[sqft]" placeholder="ex: 1250">
  <label>Beds:</label>
  <input type="text" name="apartment[num_beds]" placeholder="ex: 2">
  <label>Baths:</label>
  <input type="text" name="apartment[num_baths]" placeholder="ex: 1">
  <input type="submit">
</form>

<h3><a href="/directory">return home</a></h3>
