<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><% @apartment.title %> </title>
</head>
<body>
  <p>

    <a href class="song.">
      <p>
        <%= "Address: " + @tenant.address %>
      </p>
      <!-- <a href='/apartments/<%= @artist.id %>/edit'>Edit This Apartment</a> -->
    </a>
    <button><a href="/">Back</a></button>

    <!-- <button><a href="/">Edit</a></button> -->
  </p>

</body>
</html>
