<div class="apartment">
  <h1><%= @apartment.address %></h1>
  <h2>$<%= @apartment.monthly_rent %>.00 / Month </h2>
  <h2>Bedrooms: <%= @apartment.num_beds %></h2>
  <h2>Bathrooms: <%= @apartment.num_baths %></h2>
</div>
