<div class="apartment">
  <p>Address: <%= @apartment.address %></p>
  <p>Rent: $<%= @apartment.monthly_rent %>.00</p>
  <p>Bedrooms: <%= @apartment.num_beds %></p>
  <p>Bathrooms: <%= @apartment.num_baths %></p>
</div>
