<h2> By Apartment </h2><a href="/apartments"></a>

<p>Apartment ID: <%= @apartments.id %> </p>
<p>Apartment Address: <%= @apartments.address %></p>
<p>Rent per Month: <%= @apartments.monthly_rent %></p>
<p>Number of Baths: <%= @apartments.num_baths %></p>


<br>
