<nav class="navbar">
  <h2><a href='/apartments/index'>Apartments</a></h2>
  <h2><a href='/tenants/index'>Tenants</a></h2>
  <h2><a href='/tenants/new'>New Tenant</a></h2>
  <h2><a href ='/apartment/new'>New Apartment</a></h2>
</nav>
