<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Landlord Property Management System</title>
</head>
<style>
p {display: inline-block;}
</style>
<body>

<h2>Landlord Property Management System</h2>
	<div>
		<p> Apartment Menu</p>
	</div>

	<div>
 	 <p><a href='/allapts/'>List All Apartments</a></p>
 	 <p><a href='/aptsrentabove/'>Apartments with Rent Above 2300</a></p>
 	 <p><a href='/aptswithaddress/'>List All Apartments with their addresses and tenants</a></p>
 	 <p><a href='/aptsrent/'>Apartments with Rent</a></p>
 	 <p><a href='/addapts/'>Add Apartments</a></p>
 	 <p><a href='/findaptbyaddress/'>Find Apartment by Address</a></p>
 	 <p><a href='/updateapartment/'>Update Apartments</a></p>
 	 <p><a href='/ReturntoMainMenu/'>Return to Main Menu</a></p>
 	 <p><a href='//'>Exit App</a></p>



 	 </div>

</body>
</html>