<form action="/apartments/<%= @apartment.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <input type="text" name="apartment[address]" placeholder="address"><br>
  <input type="text" name="apartment[monthly_rent]" placeholder="monthly_rent"><br>
  <input type="text" name="apartment[sqft]" placeholder="sqft"><br>
  <input type="text" name="apartment[num_beds]" placeholder="num_beds"><br>
  <input type="text" name="apartment[num_baths]" placeholder="num_baths"><br>
  <input type="submit" value="Edit Apartment">
 </form>
