
<form method="post" action="/apartments">
  <input type="text" placeholder="Address">
  <input type="text" placeholder="Monthly Rent">
  <input type="text" placeholder="Square Feet">
  <input type="text" placeholder="Number Beds">
  <input type="text" placeholder="Number Baths">
  <input type="submit">
</form>
