<h2> New  Apartment View </h2>

  <form action="/apartments" method="post">
    <label>Address</label>
    <input type="text" name="newapt[address]">

    <label>Monthly Rent</label>
    <input type="number" name="newapt[monthly_rent]">

    <label>Square Footage</label>
    <input type="number" name="newapt[sqft]">
    <label>Number of Bedrooms</label>
    <input type="number" name="newapt[num_beds]">
    <label>Number of Baths</label>
    <input type="number" name="newapt[num_baths]">

    <button type="submit">Add Apartment</button>
  </form>
