Enter new address

<form action="/" method="post">

  <label for="">Apartment address</label>
  <input type="text" name="apt[address]">

  <label for="">Monthly Rent</label>
  <input type="text" name="apt[monthly_rent]">

  <label for="">Square Feet</label>
  <input type="text" name="apt[sqft]">

  <label for=""># of Beds</label>
  <input type="text" name="apt[num_beds]">

  <label for=""># of Baths</label>
  <input type="text" name="apt[num_baths]">

  <button type="submit">Submit</button>
</form>
