<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Landlord Property Management System</title>
</head>
<style>
input {display: block;}
</style>
<body>

<h2>Landlord Property Management System</h2>

	<form action="/add_apartment" method="post">
		<label for="addr">Address</label><input type="text" id=addr name="apartment[address]"> 
		<label for="rent">Monthly Rent</label><input type="text" id=rent name="apartment[monthly_rent]"> 
		<label for="sqft">Apt Square Feet</label><input type="text" id=sqft name="apartment[sqft]"> 
		<label for="beds">Bedrooms</label><input type="text" id=beds name="apartment[num_beds]"> 
		<label for="baths">Bathrooms</label><input type="text" id=baths name="apartment[num_baths]">

		<input type="submit" value="Create">

	</form>

</body>
</html>