<h2> Single Apartment View </h2>
  <pre>
     <%= sprintf('%-20s %10s %10s %10s  %10s','Address','Rent','Sq Ft','Beds','Baths') %>
     <%= sprintf('%-20s %10d %10d %10d %10d',@address, @rent,@sqft,@num_beds,@num_baths)%>
  </pre>
<a href= "/apartments"> Return to all apartments </a>
